@using BusinessObject.Commons;
@using BusinessObject.DTOs
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http

@{
    var isHome = ViewContext.RouteData.Values["Controller"].ToString() == "Home" &&
                  ViewContext.RouteData.Values["Action"].ToString() == "Index";

    var httpContext = Context.Request.HttpContext;
    var userJson = httpContext.Session.GetString(Enums.SESSION_KEY_JOB_SEEKER);
    JobSeeker currentUser = null;
    if (userJson != null)
    {
        currentUser = JsonConvert.DeserializeObject<JobSeeker>(userJson);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Job Search & Recruitment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobSearchAndRecruitmentWebClient.styles.css" asp-append-version="true" />
    <style>
        .nav-link {
            position: relative;
        }

            .nav-link::before {
                content: "";
                width: 0;
                height: 3px;
                background-color: #007BFF;
                position: absolute;
                bottom: -8px;
                left: 0;
            }

        .nav-item.active .nav-link::before, .nav-item:hover .nav-link::before {
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Job Search & Recruitment</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item @(isHome ? "active" : "")">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (currentUser != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                    <strong class="dropdown-header">Hello, @currentUser.FullName!</strong>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Resumes</a>
                                    <a class="dropdown-item" href="#">My job</a>
                                    <a class="dropdown-item" href="#">My reviews</a>
                                    <a class="dropdown-item" href="ViewProfile">Setting</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item font-weight-bold text-primary" asp-area="" asp-controller="JobSeeker" asp-action="Logout">Log Out</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold text-primary" asp-area="" asp-controller="JobSeeker" asp-action="Login">Log In</a>
                            </li>
                        }
                        <li class="nav-item" style="pointer-events: none;">
                            <a class="nav-link text-dark" style="pointer-events: none;">
                                <span style="font-weight: normal;"> | </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" asp-area="" asp-controller="Employer" asp-action="Home">Recruiter/Job Posting</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Job Search & Recruitment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>