@{
    var isHome = ViewContext.RouteData.Values["Controller"].ToString() == "Employer" &&
                  ViewContext.RouteData.Values["Action"].ToString() == "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recruiter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobSearchAndRecruitmentWebClient.styles.css" asp-append-version="true" />
    <style>
        .nav-link {
            position: relative;
        }

            .nav-link::before {
                content: "";
                width: 0;
                height: 3px;
                background-color: #e6b800;
                position: absolute;
                bottom: -8px;
                left: 0;
            }

        .nav-item.active .nav-link::before, .nav-item:hover .nav-link::before {
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Employer" asp-action="Home">Job Search & Recruitment</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item @(isHome ? "active" : "")">
                            <a class="nav-link text-white" asp-area="" asp-controller="Employer" asp-action="Home">Post jobs</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold text-white" asp-area="" asp-controller="Employer" asp-action="Login">Log In</a>
                        </li>

                        <li class="nav-item" style="pointer-events: none;">
                            <a class="nav-link text-white">
                                <span style="font-weight: normal;"> | </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Job search</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="bg-light text-black py-5">
        <div class="container">
            <h2 class="text-center text-md-start mb-4">Tiết kiệm thời gian và công sức cho việc tuyển dụng</h2>
            <p class="lead text-center text-md-start">
                Không nên biến việc tìm kiếm ứng viên phù hợp nhất với công việc trở thành một công việc toàn thời gian.
                Các công cụ đơn giản và mạnh mẽ của JSAR giúp bạn tìm nguồn ứng viên, sàng lọc và tuyển dụng nhanh hơn.
            </p>
            <div class="bg-white py-5 mt-5 mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 mb-5">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-eye fa-2x me-3 text-primary"></i>
                                <div>
                                    <h4>Tăng cường mức độ hiển thị</h4>
                                    <p class="text-md-start">Trả phí cho việc làm của bạn để đảm bảo việc làm được hiển thị cho người tìm việc phù hợp.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2"></div>

                        <div class="col-md-5 mb-5">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-search fa-2x me-3 text-primary"></i>
                                <div>
                                    <h4>Tìm ứng viên chất lượng</h4>
                                    <p class="text-md-start">Liệt kê những kỹ năng mà bạn muốn cho việc làm để các ứng viên phù hợp có thể ứng tuyển.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-5">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-tasks fa-2x me-3 text-primary"></i>
                                <div>
                                    <h4>Xác minh khả năng của họ</h4>
                                    <p class="text-md-start">Thêm câu hỏi sàng lọc và đánh giá để kiểm tra kỹ năng của người ứng tuyển.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2"></div>

                        <div class="col-md-5 mb-5">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-sort fa-2x me-3 text-primary"></i>
                                <div>
                                    <h4>Sắp xếp các ứng viên của bạn</h4>
                                    <p class="text-md-start">Xem và sắp xếp CV, gửi tin nhắn và lên lịch phỏng vấn - tất cả trên JSAR.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="d-flex align-items-center justify-content-center">
            <div class="col-md-5 mt-5">
                <h2 class="text-center mb-5">Bạn đang làm việc cho một công ty tốt.</h2>
                <p class="lead text-center">
                    Hơn 3.500.000 công ty sử dụng JSAR để tuyển dụng.
                    Hãy xem lý do tại sao những công ty tuyệt vời này sử dụng chúng tôi
                    làm nền tảng để tuyển dụng nhân tài mong muốn.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-3 mb-4 text-center text-md-start">
                <div class="card rounded-3 shadow">
                    <div class="card-body">
                        <img src="~/images/logo1.png" class="img-fluid mx-auto d-block mb-4" />
                        <p class="card-text mb-4">JSAR giúp công ty nhà hàng gia đình lớn nhất thế giới tuyển dụng ứng viên chất lượng cao cho các vị trí quan trọng.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4 text-center text-md-start">
                <div class="card rounded-3 shadow">
                    <div class="card-body">
                        <img src="~/images/logo2.png" class="img-fluid mx-auto d-block mb-4" />
                        <p class="card-text mb-4">Trường đại học lâu đời thứ hai trên thế giới sử dụng JSAR để thu hút người tìm việc mục tiêu cho các vị trí học thuật đặc thù cũng như các vị trí hỗ trợ kinh doanh.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4 text-center text-md-start">
                <div class="card rounded-3 shadow">
                    <div class="card-body">
                        <img src="~/images/logo3.png" class="img-fluid mx-auto d-block mb-4" />
                        <p class="card-text mb-4">Công ty hàng đầu thế giới về viễn thông di động sử dụng tính năng Việc làm được trả phí của JSAR để làm bớt chi phí một ứng viên và chi phí một lần tuyển dụng thành công.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Job Search & Recruitment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>