@using BusinessObject.Commons;
@using BusinessObject.DTOs
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit Resumes";
    Layout = "_Layout";

    var httpContext = Context.Request.HttpContext;
    var userJson = httpContext.Session.GetString(Enums.SESSION_KEY_JOB_SEEKER);
    JobSeeker currentUser = null;
    if (userJson != null)
    {
        currentUser = JsonConvert.DeserializeObject<JobSeeker>(userJson);
    }
}
<h2>Edit jobSeeker </h2>
<form id="editForm">
    <div class="form-group mb-3">
        <label for="EditFullName">Full Name:</label>
        <input type="text" class="form-control" id="EditFullName" placeholder="Full Name">
    </div>

    <div class="form-group mb-3">
        <label for="EditEmail">Email:</label>
        <input type="email" class="form-control" id="EditEmail" placeholder="Email" readonly>
    </div>

    <div class="form-group mb-3">
        <label for="EditPassword">Password:</label>
        <input type="password" class="form-control" id="EditPassword" placeholder="Password" readonly>
    </div>

    <div class="form-group mb-3">
        <label for="EditPhoneNumber">Phone Number:</label>
        <input type="tel" class="form-control" id="EditPhoneNumber" placeholder="Phone Number">
    </div>

    <div class="form-group mb-3">
        <label for="EditAddress">Address:</label>
        <input type="text" class="form-control" id="EditAddress" placeholder="Address">
    </div>

    <div class="form-group mb-3">
        <label for="EditProfileDescription">Profile Description:</label>
        <textarea class="form-control" id="EditProfileDescription" placeholder="Profile Description"></textarea>
    </div>

    <div class="form-group mb-3">
        <label for="EditEducation">Education:</label>
        <input type="text" class="form-control" id="EditEducation" placeholder="Education">
    </div>

    <div class="form-group mb-3">
        <label for="EditWorkExperience">Work Experience:</label>
        <input type="text" class="form-control" id="EditWorkExperience" placeholder="Work Experience">
    </div>

    <button type="button" class="btn btn-success mb-3" id="saveButton">Save Changes</button>
</form>

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            // Gửi yêu cầu API khi trang đã tải xong
            $.ajax({
                url: `http://localhost:5090/odata/JobSeeker/${@currentUser.JobSeekerId}`,
                method: "GET",
                success: function (data) {
                    // Điền dữ liệu từ API vào các trường trong form
                    $('#EditFullName').val(data.fullName);
                    $('#EditPassword').val(data.password);
                    $('#EditEmail').val(data.email);
                    $('#EditPhoneNumber').val(data.phoneNumber);
                    $('#EditAddress').val(data.address);
                    $('#EditProfileDescription').val(data.profileDescription);
                    $('#EditEducation').val(data.education);
                    $('#EditWorkExperience').val(data.workExperience);
                },
                error: function () {
                    alert('Failed to fetch data from the API.');
                }
            });
        });


        // Xử lý sự kiện click của nút lưu
        $('#saveButton').click(function () {
            // Lấy dữ liệu từ form
            var updatedData = {
                FullName: $('#EditFullName').val(),
                Email: $('#EditEmail').val(),
                PhoneNumber: $('#EditPhoneNumber').val(),
                Address: $('#EditAddress').val(),
                ProfileDescription: $('#EditProfileDescription').val(),
                Education: $('#EditEducation').val(),
                WorkExperience: $('#EditWorkExperience').val()
            };


            // Gửi yêu cầu cập nhật thông tin đến API
            $.ajax({
                url: `http://localhost:5090/odata/JobSeeker/${@currentUser.JobSeekerId}`,
                method: "PUT",
                contentType: "application/json;odata.metadata=minimal;odata.streaming=true",
                data: JSON.stringify(updatedData),
                success: function (data) {
                    alert('Profile updated successfully.');
                },
                error: function () {
                    alert('Failed to update profile.');
                }
            });
        });
    </script>
}
