@using BusinessObject.Commons;
@using BusinessObject.DTOs
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http

@{
    var httpContext = Context.Request.HttpContext;
    var userJson = httpContext.Session.GetString(Enums.SESSION_KEY_JOB_SEEKER);
    JobSeeker currentUser = null;
    if (userJson != null)
    {
        currentUser = JsonConvert.DeserializeObject<JobSeeker>(userJson);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Job Seeker Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Job Seeker Information</h2>
        <form>
            <div class="form-group">
                <label for="FullName">Full Name:</label>
                <input type="text" class="form-control" id="FullName" placeholder="FName" readonly>
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="Email" placeholder="email" readonly>
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" id="Password" placeholder="password" readonly>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone Number:</label>
                <input type="tel" class="form-control" id="PhoneNumber" placeholder="phone" readonly>
            </div>
            <button type="button" class="btn btn-primary" id="editButton">Edit</button>
        </form>
    </div>
    @section Scripts{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: 'http://localhost:5090/odata/JobSeeker/' + @currentUser.JobSeekerId,

                    method: "GET",
                    success: function (data) {
                        $('#FullName').val(data.fullName);
                        $('#Email').val(data.email);
                        $('#Password').val(data.password);
                        $('#PhoneNumber').val(data.phoneNumber);
                    },
                    error: function () {
                        alert('Failed to fetch data from the API.');
                    }
                });
            })

            $('#editButton').click(function () {
                window.location.href = `/JobSeeker/EditProfile?id=${@currentUser.JobSeekerId}`;
            });
        </script>
    }
</body>
</html>