@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-3">
    <input type="text" id="searchInput" placeholder="Search..." class="col-md-12 mb-3">
    <hr />
    <div id="jobListContainer" class="job-container col-md-4">
    </div>
    <div id="jobDetailsContainer" class="job-details-container col-md-8">
    </div>
</div>

@section Scripts {
    <script>
        function getJobList() {
            const xhr = new XMLHttpRequest();
            const url = 'http://localhost:5090/odata/Job';

            xhr.open('GET', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const jobs = JSON.parse(xhr.responseText).value;
                    renderJobList(jobs);
                }
            };

            xhr.send();
        }

        function renderJobList(jobs) {
            const jobListContainer = document.getElementById('jobListContainer');
            const jobDetailsContainer = document.getElementById('jobDetailsContainer');

            jobListContainer.innerHTML = '';
            jobDetailsContainer.innerHTML = '';

            jobs.forEach(job => {
                const jobItem = document.createElement('div');
                jobItem.classList.add('job-item', 'border', 'p-3', 'mb-3');

                jobItem.addEventListener('click', function () {
                    showJobDetails(job);

                    window.scrollTo({ top: 0, behavior: 'smooth' });
                });

                jobItem.innerHTML = `
                            <h3>${job.Title}</h3>
                            <p>${job.Company}</p>
                            <p>${job.Location}</p>
                            <div class="time-type-container btn-dark-gray p-2 rounded text-black">
                                ${job.TimeType}
                            </div>
                            <p>${job.Description}</p>
                        `;
                jobListContainer.appendChild(jobItem);
            });
        }

        function showJobDetails(job) {
            const jobDetailsContainer = document.getElementById('jobDetailsContainer');
            jobDetailsContainer.innerHTML = '';

            const jobDetails = document.createElement('div');
            jobDetails.classList.add('job-details', 'p-3');
            jobDetails.innerHTML = `
                        <h2>${job.Title}</h2>
                        <p>${job.Company}</p>
                        <p>${job.Location}</p>
                        <div class="button-row">
                            <button class="btn btn-success" onclick="applyForJob()">Apply</button>
                            <button class="btn btn-secondary" onclick="saveJob()">SavedJob</button>
                        </div>
                        <hr />
                        <h3>Mô tả chi tiết công việc</h3>
                        <p>${job.Description}</p>
                        <div class="time-type-container btn-dark-gray p-2 rounded text-black">
                            ${job.TimeType}
                        </div>
                        <hr />
                        <p><em>Ngành nghề: </em>${job.Industry}</p>
                        <p><em>Yêu cầu kỹ năng: </em>${job.RequiredSkills}</p>
                        <p><em>Trình độ học vấn: </em>${job.RequiredEducation}</p>
                        <p><em>Mức lương: </em>${job.Salary}$<em>/tháng</em></p>
                    `;
            jobDetailsContainer.appendChild(jobDetails);
        }

        function applyForJob() {
            alert('Đã nộp đơn thành công!');
        }

        function saveJob() {
            alert('Đã lưu công việc!');
        }

        getJobList();

        const searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('input', function () {
            const searchTerm = this.value.toLowerCase();
        });
    </script>
}